* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 900px;
  font-family: 'Noto Sans', Arial, sans-serif;
  background-image: url(images/background1.jpg);
}

a {
  text-decoration: none;
  color: darkcyan;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h, p {
  color: black;
}

p, ul {
  font-size: 14px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Lobster', "Сomic sans", cursive;
}

h3 {
  margin-bottom: 7px;
  margin-top: 20px;
  text-decoration: underline;
  font-family: 'Lobster', "Сomic sans", cursive;
}

.name_of_data {
  font-weight: bold;
  color: black;
}

.avatar {
  width: 40%;
  margin: 0 0;
  position: relative;
}

.paper_clip {
  position: absolute;
  top: -7px;
  left: 70px;
  transform: rotate(-10deg);
  width: 50px;
  height: 79px;
  background-image: url(images/paper_clip1.png);
  z-index: 1;
}

.photo {
  width: 267px;
  display: block;
  position: absolute;
  border-radius: 20px;
  box-shadow: 5px 8px 15px -6px black;
  left: 10px;
  top: -5px;
  transform: rotate(-6deg);
}

.photo:hover {
  transform: rotate(4deg);
  top: 4px;
  left: 0px;
  transition-duration: 2s;
}

.photo:not(:hover) {
  left: 10px;
  top: -5px;
  transform: rotate(-6deg);
  transition-duration: 2s;
}

.smile {
  display: block;
  position: absolute;
  top: 360px;
  left: 270px;
}

.info_wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.info {
  margin-left: 35px;
  padding: 30px;
}

.main_wrap {
  box-shadow: 1px 1px 20px black;
  background-image: url(images/pep2.png);
  background-repeat: repeat;
}

.experience {
  display: flex;
  padding: 10px;
}

.experience_details {
  width: 50%;
  box-shadow: 1px 1px 20px black;
  margin: 10px;
  padding: 10px;
  background-image: url(images/pep.jpg);
  background-size: cover;
}

.experience_details p, .experience_details ul, .experience_details span {
  color: black;
}

.experience_details:hover {
  box-shadow: 1px 1px 40px black;
}

ul {
  padding-left: 30px;
}

.experience_header {
  text-align: center;
  font-size: 20px;
}

.additional_wrap {
  display: flex;
}

.additional_info {
  width: 60%;
}
